<h1>Todo App</h1>

<p>
  Add a new Todo
</p>
<%= form_for(@todo) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit %>
<% end %>
<ul>
<% @todos.each do |task| %>
  <li data-id="<%=task.id%>"><%= task.content %>   <span>X</span></li>
<% end %>
</ul>
